.NavBar {
	box-shadow: 0 0 11px rgba(0, 0, 0, .4);
	width: 100%;
	display: -webkit-flex;
	display: flex;
	height: 56px;
	background: #48825d;
	position: relative;
	-webkit-align-items: center;
	align-items: center;

	.logo {
		margin-left: 24px;
	}

	.title {
		margin-left: 10px;
		font-size: 1.2rem;
		color: #fff;
		font-weight: 400;
	}
}

@media (min-width: 600px) {
	.NavBar {
		height: 72px;
		.title {
			font-size: 1.3rem
		}
	}
}
