@import "src/assets/sass-utils/mixins.scss";

.CircleButton {
	outline: 0;
	text-align: center;
	user-select: none;
	margin-right: 0;
	border-radius: 50%;
	border: none;
	height: 56px;
	transition-duration: .15s;
	transition-property: background-color, box-shadow;
	width: 56px;
	z-index: 2;
	padding-top: 5px;
	cursor: pointer;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(0, 0, 0, .15);
	@include clickFeedbackBackground(#48825d);

	i{
		color: white;
		font-size: 14px;
	}
}
