@import "src/assets/sass-utils/mixins.scss";

.ToDo {
	&-overflow {
		overflow-y: scroll;
		height: calc(100vh - 72px);
	}
	&-content{
		margin: 16px auto;
		width: 550px;
		@include mqMaxWidth('sm') {
			width: 100%;
		}

	}
	&-actions{
		position: fixed;
		right: 30px;
		bottom: 30px;
		button{
			margin-left: 15px;
		}
	}
}
